
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-bVv {
  background-color: #c9e5f5;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-9ggl-k7v {
    align-items: center;
    background: linear-gradient(90deg, #8ccef4 0%, #4c8fb5 100%);
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.5rem 2.397rem 0.8rem 6.4rem;
    width: 100%;
    height: 21rem;
    display: flex;

    .auto-group-emhn-qv4 {
      margin: 0rem 5.9rem 3rem 0rem;
      width: 24.9rem;
      height: 16.7rem;
      position: relative;
      flex-shrink: 0;

      .menu-xzg {
        top: 3.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 5.1rem;
        height: 7rem;
        position: absolute;
        left: 0;
      }
      .mentorship-u9E {
        left: 8.8rem;
        top: 10.6rem;
        font-weight: 400;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 16.1rem;
        height: 3.7rem;
        position: absolute;
        font-size: 3rem;
        color: #00015c;
      }
      .frame-3-bXr {
        position: absolute;
        left: 0.1rem;
        top: 0;
        overflow: hidden;
        width: 10rem;
        height: 10rem;
      }
    }
    .auto-group-swqu-uHe {
      align-items: center;
      justify-content: center;
      border-radius: 1.2rem;
      width: 21.3rem;
      font-weight: 400;
      line-height: 1.2125;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 8.1rem;
      font-size: 3rem;
      color: #00015c;
      border: solid 0.4rem #fffcfc;
      margin: 11.6rem 6rem 0rem 0rem;
    }
    .resources-WHS {
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #00015c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 9rem 9.876rem 0rem 0rem;
    }
    .group-6-2Fn {
      box-sizing: border-box;
      background-color: #d9d9d9;
      border-radius: 2.6rem;
      flex-shrink: 0;
      margin: 7.464rem 2.197rem 8.101rem 0rem;
      padding: 0.31rem 0.799rem 0.424rem 2.297rem;
      height: calc(100% - 15.5658rem);
      display: flex;
      align-items: center;

      .search-KVn {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.6598rem;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .search-rkc {
        margin-top: 0.2174rem;
        width: 5.0929rem;
        height: 2.7906rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.6rem;
        flex-shrink: 0;
      }
    }
    .group-5-xYk {
      margin: 7.464rem 0rem 7.688rem 0rem;
      width: 13.2816rem;
      height: calc(100% - 15.1523rem);
      position: relative;
      border-radius: 3.6rem;
      flex-shrink: 0;

      .rectangle-22-VHn {
        width: 11.2058rem;
        height: 4.5477rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #e4c08e;
        border-radius: 3.6rem;
      }
      .sign-in-BgQ {
        width: 8.9rem;
        height: 3rem;
        font-size: 2.4rem;
        font-weight: 400;
        color: #275c6e;
        position: absolute;
        left: 1.3021rem;
        top: 0.8268rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .auto-group-atj2-qFA {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0rem 0rem 3.8rem 0.9rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-omlq-ZS4 {
      box-sizing: border-box;
      padding: 2.8rem 30.2rem 0rem 30.2rem;
      height: 38.1rem;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:a28c7a1db15db802d9fc4d8d5d42a13c653dcb9c');
      margin-bottom: 6.3rem;
      width: 144.3rem;
      flex-shrink: 0;

      .group-29-4di {
        background-color: #f1ecec;
        border-radius: 0.7rem;
        box-sizing: border-box;
        padding: 3.209rem 2rem 8.65rem 2rem;
        width: 33.3rem;
        height: 100%;
        border: solid 0.1rem #9b8484;

        .all-scholarship-nJp {
          margin: 0rem 0rem 2.815rem 1.2rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #5e5656;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .state-6qJ {
          white-space: nowrap;
          margin: 0rem 0rem 2.426rem 1.2rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #5e5656;
          font-family: Inter, 'Source Sans Pro';
        }
        .current-class-Rcg {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #5e5656;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.3989rem;
        }
        .government-kQ4 {
          color: #5e5656;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 1.2rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
    }
    .group-28-BVN {
      box-sizing: border-box;
      padding: 2.3rem 3.5rem 4.1rem 3.4rem;
      width: calc(100% - 17.9rem);
      box-shadow: 1.6rem 1.6rem 0.4rem rgba(0, 0, 0, 0.25);
      border-radius: 1.6rem;
      margin: 0rem 12.4rem 0rem 5.5rem;
      flex-direction: column;
      background-color: #f9f4f4;
      flex-shrink: 0;
      display: flex;

      .notifications-gwv {
        white-space: nowrap;
        display: flex;
        font-weight: 400;
        color: #15203c;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 5.1rem;
        font-size: 3rem;
        line-height: 1.2125;
      }
      .rectangle-46-PrL {
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
        height: 5.9rem;
        background-color: rgba(229, 229, 229, 0.8999999762);
      }
      .rectangle-47-j9W {
        height: 5.9rem;
        background-color: rgba(217, 217, 217, 0.8999999762);
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
      }
      .rectangle-48-U76 {
        width: 100%;
        height: 5.9rem;
        background-color: rgba(217, 217, 217, 0.8999999762);
        border-radius: 0.7rem;
        flex-shrink: 0;
      }
    }
  }
}
