
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-17-6P6 {
  flex-direction: column;
  background-color: #c7e4f3;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .group-25-EEQ {
    box-sizing: border-box;
    padding: 1.3rem 4.9rem 1rem 3.8rem;
    height: 10.3rem;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 4.6rem;
    width: 100%;
    display: flex;
    background-color: #63b2e0;

    .menu-jBA {
      width: 5.1rem;
      height: 6.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 78.5rem 0.6rem 0rem;
    }
    .group-6-qzt {
      padding: 0.3rem 0.8rem 0.3rem 2.3rem;
      height: calc(100% - 4rem);
      align-items: center;
      background-color: #d9d9d9;
      border-radius: 2.6rem;
      flex-shrink: 0;
      margin: 2.1rem 6.6rem 1.9rem 0rem;
      box-sizing: border-box;
      display: flex;

      .search-8UC {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 19.7rem;
        font-size: 2.8rem;
        font-weight: 400;
      }
      .search-3bA {
        margin-top: 0.1rem;
        width: 5.1rem;
        height: 2.7rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 2.6rem;
        flex-shrink: 0;
      }
    }
    .ellipse-19-XmE {
      width: 7.9rem;
      height: 8rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-bygl-T96 {
    margin-right: 4.9rem;
    width: calc(100% - 4.9rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .auto-group-5dr6-P2k {
      background-repeat: no-repeat;
      background-position: center;
      margin: 2.7rem 4.7rem 0rem 0rem;
      box-sizing: border-box;
      padding: 4.5rem 3.9rem 28.6rem 3.9rem;
      width: 31.1rem;
      flex-direction: column;
      background-size: cover;
      align-items: center;
      display: flex;
      background-image: url('REPLACE_IMAGE:174:9');
      flex-shrink: 0;

      .auto-group-jfcg-48t {
        margin: 0rem 8.2rem 4.3rem 0rem;
        width: calc(100% - 8.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-n4t {
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.2rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
        }
        .home-7N4 {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.2rem;
        }
      }
      .auto-group-fnsq-qJ4 {
        width: calc(100% - 8.2rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 8.2rem 5.1rem 0rem;

        .test-account-MXJ {
          flex-shrink: 0;
          margin-right: 2.6rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .profile-VNc {
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-uhzu-BmE {
        margin: 0rem 8.8rem 3.2rem 0rem;
        width: calc(100% - 8.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .bookmark-uhE {
          margin-right: 3.8rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .save-eep {
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1rem;
        }
      }
      .auto-group-a3yy-B8x {
        margin: 0rem 9.3rem 4rem 0rem;
        width: calc(100% - 9.3rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .edit-7HW {
          margin-right: 4.4rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .edit-rVz {
          margin-top: 0.4rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-u9ba-zcC {
        margin: 0rem 6.1rem 5.1rem 0rem;
        width: calc(100% - 6.1rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .icon-cog-8iQ {
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 3.4603rem;
          width: 5.3397rem;
        }
        .setting-GZi {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 0.6rem;
          font-size: 2.4rem;
          font-weight: 600;
        }
      }
      .auto-group-ggw6-oZe {
        width: calc(100% - 6.6rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin: 0rem 6.3rem 0rem 0.3rem;

        .logout-8M2 {
          margin-right: 2.9rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .log-out-qWL {
          flex-shrink: 0;
          margin-top: 0.2rem;
          font-size: 2.4rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .auto-group-g236-9mv {
      width: 103.3rem;
      flex-shrink: 0;

      .auto-group-2hzc-hHe {
        padding: 2.2rem 3.281rem 2.2rem 9.6rem;
        width: 100%;
        align-items: flex-start;
        background-color: #f9f4f4;
        margin-bottom: 4.6rem;
        height: 35.2rem;
        display: flex;
        box-shadow: 1.6rem 1.6rem 0.4rem rgba(0, 0, 0, 0.25);
        border-radius: 1.2rem;
        box-sizing: border-box;

        .auto-group-jpdr-1ZE {
          align-items: flex-end;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.8rem 11.6rem 0rem 0rem;
          width: 15rem;

          .ellipse-4-8Nx {
            background-image: url('REPLACE_IMAGE:61e22f6aee3b7800058325298ea35901b7a956b2');
            border-radius: 7.5rem;
            flex-shrink: 0;
            margin-bottom: 4.7rem;
            border: solid 0.1rem #000000;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 15rem;
            box-sizing: border-box;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .username-1Sk {
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #2e243e;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .line-5-Lzp {
          margin: 0.3rem 5.1rem 0rem 0rem;
          width: 0.0005rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .auto-group-pahi-GNg {
          flex-shrink: 0;
          width: 58.7192rem;
          height: 13.5rem;
          border-bottom: solid 0.1rem #000000;
          box-sizing: border-box;

          .auto-group-ufkg-1LG {
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 0rem 24.319rem 3.4rem 16.9rem;
            width: 100%;
            height: 13.4rem;
            align-items: center;

            .institution-XpQ {
              margin: 0rem 0rem 0.9rem 2.5rem;
              font-size: 3rem;
              font-weight: 200;
              line-height: 1.2125;
              color: #faf8f8;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .govthigh-school-leh-ladakh-FVW {
              color: #f9f4f4;
              font-family: Inter, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 17.5rem;
              font-size: 2.2rem;
              font-weight: 400;
              line-height: 1.2125;
            }
          }
        }
      }
      .auto-group-khme-JCt {
        margin-right: 4rem;
        width: calc(100% - 4rem);
        display: flex;
        align-items: flex-start;

        .calendar-Dqe {
          flex-shrink: 0;
          margin: 1.3rem 26.1rem 0rem 0rem;
          font-size: 2.8rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rectangle-108-9UQ {
          width: 58.3rem;
          height: 42.5rem;
          background-color: #f9f4f4;
          flex-shrink: 0;
        }
      }
    }
  }
}
