
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-15-sxg {
  display: flex;
  box-sizing: border-box;
  align-items: flex-end;
  background-color: #ffffff;
  background-position: center;
  background-image: url('REPLACE_IMAGE:e658af9432f260fbc0cd5790c8943d26f0611d70');
  background-size: 100% 100%;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  background-repeat: no-repeat;
  border-bottom: solid 0.1rem #ffffff;
  padding-left: 61.6rem;
  position: relative;

  .letter-o5e {
    margin: 0rem 73.4rem 11.8rem 0rem;
    width: 9rem;
    height: 9rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .rectangle-97-7c8 {
    height: 21.3rem;
    background-color: #fbf6f6;
    border-radius: 20rem;
    flex-shrink: 0;
    margin-bottom: 3.6rem;
    width: 84.4rem;
  }
  .create-account-as-eMA {
    white-space: nowrap;
    flex-shrink: 0;
    margin-bottom: 2.5rem;
    font-size: 6.7rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-diax-ZDE {
    width: calc(100% - 70.3rem);
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 0rem 10.2rem 70.3rem;

    .auto-group-5bzl-Hf2 {
      padding: 4.8rem 7.9rem 2.9rem 7.6rem;
      display: flex;
      align-items: center;
      border-radius: 10rem;
      flex-shrink: 0;
      margin: 1.1rem 18.3rem 0rem 0rem;
      box-sizing: border-box;
      width: 58.8rem;
      background-color: #fbf5f5;

      .image-5-NgU {
        margin-right: 6.2rem;
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .student-Wng {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        font-size: 6.7rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .auto-group-p8eg-pYU {
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      padding: 5.9rem 6.2rem 3.117rem 7.4rem;
      align-items: center;
      border: solid 0.5rem #000000;
      border-radius: 10rem;
      box-sizing: border-box;
      width: 58.8rem;
      display: flex;
      background-color: #fbf6f6;

      .image-6-Xhn {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.1rem 10.5rem 0rem 0rem;
        width: 12rem;
        height: 10.0831rem;
      }
      .mentor-rk4 {
        font-size: 6.7rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.9831rem;
      }
    }
  }
  .auto-group-eczr-9DN {
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 0rem 7rem 68.8rem;
    width: calc(100% - 68.8rem);

    .rectangle-81-GYt {
      margin-right: 17.6rem;
      width: 57.6rem;
      height: 18.3rem;
      background-color: #fbf6f6;
      border-radius: 5rem;
      flex-shrink: 0;
    }
    .auto-group-yj8g-nn8 {
      flex-shrink: 0;
      margin-bottom: 0.3rem;
      align-items: center;
      border-radius: 5rem;
      font-size: 6.7rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      display: flex;
      width: 63.1rem;
      height: 19.3rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      background-color: #fbf6f6;
    }
  }
  .rectangle-84-r1J {
    border-radius: 5rem;
    flex-shrink: 0;
    margin-bottom: 8.5rem;
    width: 138.3rem;
    height: 22.6rem;
    background-color: #fbf6f6;
  }
  .auto-group-r4we-NkL {
    font-size: 6.7rem;
    white-space: nowrap;
    margin-bottom: 8.6rem;
    width: 138.3rem;
    font-weight: 400;
    background-color: #fbf6f6;
    flex-shrink: 0;
    padding: 6.7rem 15.8rem 6rem 15.8rem;
    height: 20.9rem;
    color: #000000;
    box-sizing: border-box;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 5rem;
  }
  .auto-group-x8ww-35n {
    margin: 0rem 0rem 14.7rem 67.6rem;
    width: calc(100% - 67.6rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .auto-group-rezy-MsA {
      border-radius: 5rem;
      padding: 4.9rem 2.7rem 4.9rem 18rem;
      font-size: 6.7rem;
      color: #000000;
      background-color: #fbf6f6;
      flex-shrink: 0;
      margin: 1rem 16.9rem 0rem 0rem;
      height: 18rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 57.9rem;
      line-height: 1.2125;
      box-sizing: border-box;
      font-weight: 400;
    }
    .auto-group-ncra-D8g {
      font-size: 6.7rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 5rem;
      flex-shrink: 0;
      margin-bottom: 1rem;
      box-sizing: border-box;
      padding: 1rem 0rem 1rem 5.2rem;
      height: 18rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
      background-color: #fbf6f6;
    }
  }
  .auto-group-xjzq-hJk {
    margin-bottom: 6.1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    .gender-F5N {
      font-size: 6.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 3.5rem 6.7rem 0rem 0rem;
    }
    .ellipse-15-Zrk {
      margin: 0rem 7.7rem 1.7rem 0rem;
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .female-VVW {
      flex-shrink: 0;
      margin: 1.1rem 9.2rem 0rem 0rem;
      font-size: 6.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #fffcfc;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .ellipse-16-p1z {
      margin: 0rem 5.6rem 4.7rem 0rem;
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 1.5rem;
      flex-shrink: 0;
    }
    .male-YTn {
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.5rem;
      font-size: 6.7rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .auto-group-lmd6-skx {
    font-size: 6.7rem;
    align-items: center;
    justify-content: center;
    line-height: 1.2125;
    color: #000000;
    border-radius: 8rem;
    display: flex;
    margin-bottom: 5.7rem;
    width: 51.7rem;
    height: 14.7rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #fbf6f6;
    flex-shrink: 0;
  }
  .already-have-an-accountsign-in-8Rz {
    margin-bottom: 0.4rem;
    font-size: 6.7rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
}
