
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-11-ZjS {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #1b506e;

  .auto-group-5lya-Weg {
    width: 100%;
    height: 13.4rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 4.4rem;

    .menu-FMN {
      object-fit: contain;
      vertical-align: top;
      width: 5.1rem;
      height: 6.4rem;
      position: absolute;
      left: 5.1rem;
      top: 3.5rem;
    }
    .group-10-mqW {
      border-radius: 3.6rem;
      width: 13.3rem;
      height: 4.4rem;
      position: absolute;
      left: 128.7rem;
      top: 4.9rem;

      .rectangle-22-6Mz {
        top: 0;
        background-color: #e4c08e;
        border-radius: 3.6rem;
        width: 11.2214rem;
        height: 4.4rem;
        position: absolute;
        left: 0;
      }
      .sign-in-bJk {
        top: 0.8rem;
        line-height: 1.2125;
        color: #275c6e;
        white-space: nowrap;
        width: 8.9rem;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        left: 1.3039rem;
      }
    }
    .group-11-fJc {
      width: 144rem;
      height: 13.4rem;
      position: absolute;
      left: 0;
      top: 0;

      .rectangle-21-QX6 {
        width: 37.2rem;
        height: 4rem;
        position: absolute;
        left: 84.2rem;
        top: 4.7rem;
        background-color: #f9f4f4;
        border-radius: 2.6rem;
      }
      .search-L9r {
        vertical-align: top;
        border-radius: 2.6rem;
        width: 5.1rem;
        height: 2.7rem;
        position: absolute;
        left: 115.5rem;
        top: 5.4rem;
        object-fit: contain;
      }
      .search-egL {
        left: 86.5rem;
        top: 5rem;
        font-size: 2.8rem;
        font-weight: 400;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        height: 3.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 9.3rem;
      }
      .rectangle-43-ZoJ {
        width: 144rem;
        height: 13.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #63b2e0;
      }
      .menu-iAQ {
        width: 5.1rem;
        height: 6.4rem;
        position: absolute;
        left: 5.1rem;
        top: 3.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-8-Ss6 {
        border-radius: 2.6rem;
        width: 37.2rem;
        height: 4rem;
        position: absolute;
        left: 89.3rem;
        top: 4.9rem;
        background-color: #f9f4f4;

        .search-KAC {
          position: absolute;
          left: 31.3rem;
          top: 0.7rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 2.6rem;
          width: 5.1rem;
          height: 2.7rem;
        }
        .search-EY4 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          top: 0.3rem;
          font-size: 2.8rem;
          line-height: 1.2125;
          left: 2.3rem;
          font-weight: 400;
          color: #000000;
          width: 9.3rem;
          height: 3.4rem;
          position: absolute;
        }
        .group-6-MMn {
          padding: 0.3rem 0.8rem 0.3rem 2.3rem;
          height: 4rem;
          display: flex;
          align-items: center;
          top: 0;
          background-color: #f9f4f4;
          border-radius: 2.6rem;
          box-sizing: border-box;
          width: 37.2rem;
          position: absolute;
          left: 0;

          .search-Tvc {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 19.7rem;
            font-size: 2.8rem;
          }
          .search-QL4 {
            border-radius: 2.6rem;
            flex-shrink: 0;
            margin-top: 0.1rem;
            width: 5.1rem;
            height: 2.7rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .test-account-gHa {
        width: 9rem;
        height: 9rem;
        position: absolute;
        left: 130rem;
        top: 2.4rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .scholarship-bvL {
    color: #f8f8fc;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    margin-left: 7.7rem;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .auto-group-sezr-XZ6 {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.2rem 3.9rem 3rem 5.1rem;
    width: 100%;
    align-items: flex-end;
    display: flex;

    .auto-group-ueha-c4k {
      margin: 0rem 0.2rem 2.2rem 0rem;
      width: calc(100% - 0.2rem);
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-2wlg-8Yt {
        margin-right: 5.1rem;
        width: 46.9rem;
        flex-shrink: 0;

        .class-8-Guz {
          margin: 0rem 0rem 4rem 2.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #7e7e7e;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-3fnu-o9E {
          display: flex;
          box-shadow: 0 1.6rem 0.4rem rgba(0, 0, 0, 0.25);
          border-radius: 1.6rem;
          background-color: #aacade;
          box-sizing: border-box;
          padding: 4.1rem 3rem 4.1rem 2.6rem;
          width: 100%;
          height: 27.5rem;
          align-items: flex-start;
          border: solid 0.5rem #4eb5ee;

          .rectangle-69-X5E {
            background-position: center;
            background-image: url('REPLACE_IMAGE:180ea836fd9a2a596494e2b0227f4b198a55f542');
            flex-shrink: 0;
            margin: 0.3rem 1.1rem 0rem 0rem;
            width: 12rem;
            height: 8rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
          .hackoona-matata-indian-institute-of-information-technology-iiit-kottayam-CSG {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 28.2rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
      .group-40-18p {
        margin-top: 1.9rem;
        width: 82.8rem;
        display: flex;
        flex-direction: column;
        box-shadow: 1.2rem 1.2rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #e7e7e7;
        border-radius: 1.2rem;
        box-sizing: border-box;
        padding: 4.6rem 4.4rem 4.4rem 7.6rem;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-aeeq-H6L {
          flex-shrink: 0;
          margin: 0rem 0rem 5.5rem 0.5rem;
          width: calc(100% - 0.5rem);
          display: flex;
          align-items: center;

          .rectangle-70-bMv {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:180ea836fd9a2a596494e2b0227f4b198a55f542');
            border-radius: 1.2rem;
            height: 11rem;
            width: 14.9rem;
            background-size: 100% 100%;
            flex-shrink: 0;
            margin-right: 5.3rem;
          }
          .summer-internship-training-program-st-josephs-institute-of-technology-omr-st-josephs-institute-of-technology-semmenchery-chennai-600-11-iSY {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.5rem;
            max-width: 50.1rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
          }
        }
        .line-9-ApL {
          margin: 0rem 0.1rem 3.4rem 0rem;
          width: 70.7003rem;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .group-17-h3a {
          margin-right: 4.4rem;
          width: 13.6rem;
          height: 5.3rem;
          border-radius: 1.2rem;
          flex-shrink: 0;

          .group-16-qQg {
            width: 100%;
            justify-content: center;
            font-size: 2rem;
            font-weight: 700;
            line-height: 1.2125;
            white-space: nowrap;
            background-color: #95c39c;
            height: 100%;
            display: flex;
            align-items: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            border-radius: 1.2rem;
          }
        }
      }
    }
    .auto-group-5jix-aWg {
      height: 60.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 4rem;
      width: 100%;

      .auto-group-dara-KjA {
        width: 46.9rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.1rem;

        .group-46-4we {
          display: flex;
          align-items: flex-start;
          box-shadow: 0 1.6rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #aacade;
          margin-bottom: 5.5rem;
          box-sizing: border-box;
          width: 100%;
          flex-shrink: 0;
          padding: 4.1rem 3rem 4.1rem 2.6rem;
          height: 27.5rem;
          border-radius: 1.6rem;

          .rectangle-69-bAt {
            height: 8rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:180ea836fd9a2a596494e2b0227f4b198a55f542');
            flex-shrink: 0;
            margin: 0.3rem 1.1rem 0rem 0rem;
            width: 12rem;
          }
          .hackoona-matata-indian-institute-of-information-technology-iiit-kottayam-hzc {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 28.2rem;
          }
        }
        .group-45-we4 {
          background-color: #aacade;
          border-radius: 1.6rem;
          flex-shrink: 0;
          padding: 4.1rem 3rem 4.1rem 2.6rem;
          width: 100%;
          height: 27.5rem;
          display: flex;
          align-items: flex-start;
          box-shadow: 0 1.6rem 0.4rem rgba(0, 0, 0, 0.25);
          box-sizing: border-box;

          .rectangle-69-4ig {
            margin: 0.3rem 1.1rem 0rem 0rem;
            width: 12rem;
            height: 8rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:180ea836fd9a2a596494e2b0227f4b198a55f542');
            flex-shrink: 0;
          }
          .hackoona-matata-indian-institute-of-information-technology-iiit-kottayam-wXa {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 28.2rem;
            font-size: 2rem;
            font-weight: 500;
          }
        }
      }
      .auto-group-53px-oZn {
        height: calc(100% - 2.2rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.5rem 0rem 0.7rem 0rem;

        .group-41-XVn {
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          box-shadow: 0 1.2rem 0.4rem rgba(0, 0, 0, 0.25);
          margin: 0rem 0rem 3rem 0.2rem;
          box-sizing: border-box;
          width: 82.8rem;
          flex-shrink: 0;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          padding: 4rem 4.5rem 3.5rem 4.5rem;
          background-color: #e7e7e7;
          border-radius: 1.2rem;
        }
        .rectangle-74-8Va {
          margin-right: 0.2rem;
          width: 82.8rem;
          height: 44.8rem;
          background-color: #e7e7e7;
          border-radius: 1.2rem;
          flex-shrink: 0;
        }
      }
    }
    .group-47-eyi {
      box-sizing: border-box;
      padding: 2.4rem 3.7rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      font-weight: 600;
      color: #000000;
      border-radius: 1.2rem;
      flex-shrink: 0;
      width: 82.8rem;
      height: 10.5rem;
      white-space: nowrap;
      box-shadow: 0 1.2rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #e7e7e7;
    }
  }
}
