
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 34.1rem;
}.group-33-Bzc {
  box-shadow: 0.8rem 0.8rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #8cc3e4;
  padding: 1.45rem 1.35rem 3.9rem 4.65rem;
  align-items: center;
  display: flex;
  border-radius: 1.5rem;
  box-sizing: border-box;
  width: 100%;
  flex-direction: column;

  .krisanski-tu2 {
    color: #000000;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2125;
    margin: 0rem 3.2rem 3.25rem 0rem;
    display: flex;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .auto-group-5aza-njW {
    flex-shrink: 0;
    width: 100%;
    height: 26.3rem;
    position: relative;

    .btech-engineering-physics-iit-guwahati-batch-2026-jhbdjsh-sjdnsjdc-djcbshdcj-cjbdcjdc-dcsjcj-dcn-sjc-jdcjsc-djcsjc-jshdc-d-ccs-8oN {
      font-family: Inter, 'Source Sans Pro';
      height: 24.1rem;
      position: absolute;
      left: 0;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 28.1rem;
      top: 0;
      color: #000000;
    }
    .rectangle-54-LeY {
      top: 21rem;
      background-color: #341f1b;
      border-radius: 1.8rem;
      width: 20.2rem;
      height: 5.3rem;
      position: absolute;
      left: 3.95rem;
    }
    .know-more-G2Q {
      font-size: 2rem;
      line-height: 1.2125;
      display: flex;
      font-weight: 500;
      white-space: nowrap;
      height: 2.5rem;
      left: 8.65rem;
      top: 22.45rem;
      justify-content: center;
      color: #f6f0f0;
      font-family: Inter, 'Source Sans Pro';
      width: 10.8rem;
      position: absolute;
      align-items: center;
    }
  }
}
