
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 33.3rem;
}.group-31-3W4 {
  border-radius: 0.7rem;
  width: 100%;
  height: 42.2rem;

  .group-27-aVz {
    background-color: #f1ecec;
    border-radius: 0.7rem;
    box-sizing: border-box;
    padding: 4.05rem 4.8rem 4.85rem 4.8rem;
    height: 100%;
    border: solid 0.1rem #bcbaba;
    width: 100%;
    row-gap: 1.5rem;
    display: flex;
    flex-direction: column;

    .auto-group-cuj8-gov {
      height: 3.7rem;
      position: relative;
      flex-shrink: 0;
      width: 10.5rem;

      .class-8-qB2 {
        height: 3.7rem;
        top: 0;
        font-size: 3rem;
        color: #5d5555;
        font-family: Inter, 'Source Sans Pro';
        width: 10.5rem;
        position: absolute;
        left: 0;
        display: flex;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .class-8-8vp {
        font-weight: 400;
        line-height: 1.2125;
        color: #5d5555;
        width: 10.5rem;
        height: 3.7rem;
        top: 0;
        display: flex;
        font-size: 3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 0;
      }
    }
    .class-9-3nt {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5d5555;
    }
    .class-10-Pbr {
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5d5555;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .class-11-wdN {
      line-height: 1.2125;
      color: #5d5555;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 400;
    }
    .class-12-6FN {
      line-height: 1.2125;
      color: #5d5555;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 3rem;
      font-weight: 400;
    }
    .competetive-exams-qCx {
      display: flex;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5d5555;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 18.2rem;
    }
  }
}
